beautifulsoup4==4.4.1
-e git+https://github.com/aquynh/capstone.git@252d9b79242d22e1884b3d9da26b964b06358c3c#egg=capstone&subdirectory=bindings/python
cffi==1.7.0
click==6.6
construct==2.5.2
enum34==1.1.6
Flask==0.11.1
Flask-Assets==0.11
greenlet==0.4.9
gunicorn==19.6.0
hurry.filesize==0.9
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
pathlib==1.0.1
-e git+https://github.com/eliben/pyelftools.git@5d3b1545df30d4bc3a6cfa8741b1f08cb6bf204b#egg=pyelftools
pyparsing==2.1.5
pyScss==1.3.5
readline==6.2.4.1
six==1.10.0
webassets==0.11.1
Werkzeug==0.11.10
