html, body {
  padding: 0;
  margin: 0; }

main.row {
  padding: 25px; }

  #functions {
    max-height: 80vh;
    overflow-y: scroll; }
    #functions .function {
      cursor: pointer;
      margin-bottom: 15px; }

#function-disasm {
  max-height: 80vh;
  overflow-y: scroll; }
