<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/jquery.contextMenu.css">
  {% assets "css_all" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <title>Disassembler</title>
</head>


<body>
  <h2 class='header'> 
    <div class='title'>filename</div>
    <div class='filename'>{{ filename }} </div>
  </h2>

  <main>
    <input type="text" placeholder="function name" id="function-name-input"/>

    <div class="row">

    </div>

    <div class="row disasm-contents">
      {# all functions #}
      <div class='four columns' id='functions'>
        <div class="nav-buttons">
          <button id="button-prev"> < </button>
          <button id="button-next"> > </button>
        </div>

        <div rv-each-func="functions.contents"
          class="function"
          rv-data-st-value="func.st_value"
          rv-data-offset="func.offset"
          rv-data-size="func.size"
          rv-on-click="ctrl.functionClicked"
          rv-on-mouseover="ctrl.hoverCollapsable"
          rv-on-mouseout="ctrl.removeHoverCollapsable">

          <span rv-each-part="func.name"
            rv-class-hovered="part.hovered"
            rv-class-expandable="part.expandable"
            rv-class-collapsable="part.collapsable"
            rv-text="part.display">
              
            </span>
        </div>
      </div>

      {# selected function's assembly #}
      <div class='eight columns' id='function-disasm'>
        <span class="selected-func-name">
        { assembly.func_name }
        </span>

        <div class="instructions">
          <span class='row instruction' 
            rv-each-i="assembly.contents"
            rv-on-click="ctrl.instructionClicked">
            <div class='address two columns'>{i.address}</div>
            <div class='mnemonic two columns'>{i.mnemonic}</div>
            <div class='op_str eight columns' rv-html="i.op_str"></div>
          </span>
        </div> {# end instructions #}

      </div>
    </div>
  </main>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_disassemble" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>