<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  {% assets "css_all" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <title>Disassembler</title>
</head>


<body>
  <h2 class='filename'> {{ filename }} </h2>

  <main>
    <div class="row">
      <button class="button-primary" id="button-prev">Previous 100 results</button>
      <button class="button-primary" id="button-next">Next 100 results</button>
    </div>
    <div class="row">

      <input type="text" class="u-full-width" placeholder="function name" id="function-name-input"/>

      {# all functions #}
      <div class='four columns' id='functions'>
        <div rv-each-func="functions.contents"
          class='function'
          rv-data-offset="func.offset"
          rv-data-size="func.size"
          onclick="functionClicked(this)" >
          <span rv-text="func.name"></span>
        </div>
      </div>

      {# selected function's assembly #}
      <div class='six columns' id='function-disasm'>
        <span class='row' rv-each-i="assembly.contents">
          <div class='address two columns'>{i.address}</div>
          <div class='mnemonic two columns'>{i.mnemonic}</div>
          <div class='op_str eight columns'>{i.op_str}</div>
        </span>
      </div>

    </div>
  </main>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_disassemble" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>