<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/colorbox.css">
  {% assets "functions_css" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <script src="https://use.fontawesome.com/d826d0fa82.js"></script>
  <title>Disassembler</title>
</head>


<body>
  <main>
  <div class="row">
    <div id="functions-wrapper" class="ten columns">
      <h2 class='header'> 
        <div class='title'>filename</div>
        <div class='filename'>{{ filename }} </div>
      </h2>

        <input type="text" placeholder="function name" id="function-name-input"/>

        {# all functions #}
        <div id='functions'>
          <div class='spacer'></div>
          <div class="nav-buttons">
            <button id="button-prev"> < </button>
            <button id="button-next"> > </button>
          </div>

          <a rv-each-func="functions.contents"
            class="function"
            rv-href="func | function_href"
            rv-data-st-value="func.st_value"
            rv-data-offset="func.offset"
            rv-data-size="func.size"
            rv-on-click='ctrl.functionClicked'
            rv-on-mouseover="ctrl.hoverCollapsable"
            rv-on-mouseout="ctrl.removeHoverCollapsable">

            <span rv-each-part="func.name"
              rv-class-hovered="part.hovered"
              rv-class-expandable="part.expandable"
              rv-class-collapsable="part.collapsable"
              rv-text="part.display">
              </span>
          </a>

        </div>
    </div> {# end of functions column #}
  </div> 
  </main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_global" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% assets "js_functions" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}

</body>

</html>