<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/colorbox.css">
  {% assets "index_css" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <title>Disassembler</title>


</head>

<body>
  <h1>Disassemble</h1>
	<form id="file-uploader" action="" method="post" enctype="multipart/form-data">
    <p>
      <input id="file_selector" type="file" name="file">
      <input name="start_index" value="0" type="hidden">
      <input name="num_functions" value="100" type="hidden">
      <input id="file_submit" type="submit">
    </p>
	</form>

  <div id="uploaded-files">
    <h3>Uploaded files</h3>
    <div class="title">
      <div class="filename">Filename</div>
      <div class="size">Size</div>
      <div class="timestamp">Uploaded</div>
    </div>
    {% for filename, fileinfo in files.items() %}
    <div class="file">
      <div class="filename">
        <a href="/functions?filename={{ filename }}">{{ filename }}</a>
      </div>
      {% for entry in fileinfo %}
        <div class="{{ loop.cycle('size', 'timestamp') }}">{{ entry }}</div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_global" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% assets "js_index" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
</body>

</html>