<div class="row input">
  <input type="text" placeholder="Search for data type" id="type-name-input" class='ten columns'> 
</div>
<div id="selected-type">
  <div class="type-attr">Name: <span rv-text="type_ctrl.selected_type.name"></span></div>
  <div class="type-attr">Size: <span rv-text="type_ctrl.selected_type.size"></span></div>
  <div class="type-attr">Subtype: 
    <span class="type" 
    rv-text="type_ctrl.selected_type.subtype"
    rv-on-click="type_ctrl.selectedTypeClicked"></span>
  </div>
  <div class="type-attr">Tag: <span rv-text="type_ctrl.selected_type.tag"></span></div>
  <div class="members">Members:
    <ul>
      <li class="type-attr"
        rv-each-member="type_ctrl.selected_type.members">
        <span class="indent" rv-each-depth="member.depth">&emsp;</span>
        <!-- Offset -->
        <span class="offset"
        rv-show="member.offset | displayData">&lt;+{member.offset}&gt;</span>
        <span class="offset-unknown"
        rv-hide="member.offset | displayData">(offset unknown)</span>
        <!-- Member name -->
        <span class="name"
        rv-show="member.name | displayData"
        rv-text="member.name"></span>
        <span class="type-name-unknwon"
        rv-hide="member.name | displayData">(name unknown)</span>
         : 
        <!-- Type name -->
        <span class="type"
        rv-show="member.type | displayData"
        rv-on-click="type_ctrl.memberTypeClicked" 
        rv-text="member.type"></span>
        <span class="type-unknown"
        rv-hide="member.type | displayData">(type unknown)</span>
      </li>
    </ul>
  </div>
</div>

{# all types #}
<div id='data-types' data-filename="{{ filename }}">
  <div class='spacer'></div>
  </div>

  <a rv-each-type="type_ctrl.typeDataQueried"
    class="type-wrapper"
    rv-data-name="type"
    rv-data-index="index"
    rv-on-click="type_ctrl.typeClicked">
    <span class="type" rv-text="type">
    </span>
  </a>


</div>