<div class="row input">
  <input type="text" placeholder="Search for data type" id="type-name-input" class='ten columns'> 
</div>
<div id="selected-type">
  <div class="type-attr">Name: <span rv-text="type_ctrl.selected_type.name"></span></div>
  <div class="type-attr">Size: <span rv-text="type_ctrl.selected_type.size"></span></div>
  <div class="type-attr">Subtype: <span rv-text="type_ctrl.selected_type.subtype"></span></div>
  <div class="type-attr">Tag: <span rv-text="type_ctrl.selected_type.tag"></span></div>
  <div class="members">Members:
    <ul>
      <li class="type-attr"
        rv-each-member="type_ctrl.selected_type.members">
          <span class="type-member-attribute" rv-text="type.name"></span>
          <div class="type-member-collapsible">
            <span class="type-member-attribute">Type: { member.type }</span>
            <span class="type-member-attribute">Offset: { member.offset }</span>
          </div>
      </li>
    </ul>
  </div>
</div>

{# all types #}
<div id='data-types' data-filename="{{ filename }}">
  <div class='spacer'></div>
  </div>

  <a rv-each-type="type_ctrl.typeDataQueried"
    class="type"
    rv-data-name="type"
    rv-data-index="index"
    rv-on-click="type_ctrl.typeClicked">
    <span rv-text="type">
    </span>
  </a>


</div>