main.row {
	padding: 25px;
}


$max-content-height: 80vh;
$expandable-color: rgba(77,182,172, 0.7);

#functions {
	max-height: $max-content-height;
	overflow-y: scroll;

	.function {
		cursor: pointer;
		margin-bottom: 15px;

		span.expandable:hover {
			background-color: $expandable-color;
		}
	}
}

#function-disasm {
	max-height: $max-content-height;
	overflow-y: scroll;
}