@mixin wrap-text {
	/* wrap long functions */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@mixin inactive-button {
  opacity: 0.8;
  background-color: lightgray;
  cursor: default;
}

@mixin flexbox {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flex-1 {
	-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  width: 20%;            /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */

}

#top-half {
	height: calc(97vh - 100px); // can't use vars for calc; match $heading-height
}

$heading-height: 100px;
$heading-bg: rgb(128,203,196);
.heading-row {
	height: $heading-height;
	padding-left: 30px;
	padding-right: 30px;
	background-color: $heading-bg;
}

.heading {
	padding-top: 10px;
	font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

	$filename-color: ghostwhite;
	.filename {
		font-size: 1.6em;
	}
	.filename, .fa.fa-home {
		color: $filename-color;
		display: inline-block;
	}
	.fa.fa-home:hover {
		color: white;
		cursor: pointer;
	}
	.fa.fa-home {
		font-size: 2em;
	}
	.function-search {
		display: inline-block;
	}
	.func-name {
		font-size: 1.3em;
		color: white;
		margin-top: 6px;

		white-space: nowrap;
		overflow-x: scroll;
	}
}


/****************** Function search bar ******************/
$function-input-width: 100%;
$placeholder-color: rgba(255, 255, 255, 0.6);
input#function-name-input, 
input#function-name-input:focus + .bottom-border {
	width: $function-input-width !important;
	border-top-color: rgb(0,150,136) !important;
	border-top-width: 2px;
	max-width: 575px;
}
.bottom-border {
	width: 0% !important;
}

::-webkit-input-placeholder {
	color: $placeholder-color;
}
:-moz-placeholder {
	color: $placeholder-color;
}
::-moz-placeholder {
	color: $placeholder-color;
}
:-ms-input-placeholder {
	color: $placeholder-color;
}

.function-search {
	width: 50%;
	z-index: 99;
	margin-left: 20px;
	font-size: 14px;
	position: relative;

	.input.row.focused + #functions {
		display: block;
	}

	#functions:hover {
		display: block;
	}

  input#function-name-input {
  	color: white;
  	width: 100%;
  	z-index: 999;
  	height: 30px;
  	border-bottom-color: ghostwhite;
  	border-bottom-width: 2px;
  	font-size: 18px;
  }

  #function-search-loading {
		position: absolute;
		margin-left: -20px;
		margin-top: -2px;
		transform: scale(0.18) !important; // override default in-html value
		display: inline-block;
		height: 0;
		width: 10%;
	}
	#function-search-loading > div {
		background: blanchedalmond !important;
	}

  #functions {
  	.nav-buttons {
  		display: none;
  	}

  	position: absolute;
  	margin-top: -3px;
    z-index: -1;

  	width: 100%;
  	max-height: 85vh;
  	overflow-y: scroll;
  	background-color: white;
		display: none; // don't display unless ur focused in the input

  	// top-left, top-right, bottom-right, bottom-left
    -webkit-border-radius: 0px 0px 1px 1px;
    -moz-border-radius: 0px 0px 1px 1px;
    border-radius: 0px 0px 1px 1px;

    -webkit-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.39);
		-moz-box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.39);
		box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.39);
	}

	#functions .function {
		display: block;
		text-decoration: none;
		color: darkslategray;
		font-family: "Open Sans", "Helvetica Neue", sans-serif;

		padding-left: 12px;
		padding-top: 5px;
		margin-bottom: 10px;
		@include wrap-text;
	}
	$func-bg:rgb(128,222,234);
	#functions .function.selected {
		background-color: rgba($func-bg, 0.8);
	}
	#functions .function:hover {
		background-color: rgba($func-bg, 0.3);
	}
}


/****************** Assembly ******************/

$instruc-color1: rgb(128,222,234); // darker
$instruc-color2: rgb(178,235,242); // lighter
$instruc-color-read: rgb(255,245,157);
$instruc-color-write: rgb(255,171,145);
.assembly-row {
	height: 100%;
	position: relative;
}

#status > div:hover:before {
	content: "Clear";
}

#status > div:hover span {
	display: none;
}

#status {
	position: fixed;
	right: 0px;
	margin-top: 7px;
	z-index: 99;
	min-width: 200px;

	.iaca-mode, .highlight-read, .highlight-write {
		padding: 0px 10px 0px 10px; // top right bottom left
		margin-bottom: 10px;
		cursor: pointer;
	}

	.iaca-mode {
		background-color: rgb(197,225,165); // keep consistent with instruction_events.js
	}
	.highlight-read {
		background-color: rgba($instruc-color-read, 0.4);
	}
	.highlight-write {
		background-color: rgba($instruc-color-write, 0.4);
	}
}

#function-disasm {
	font-family: "Inconsolata", monospace;
	height: 100%;
	overflow-y: scroll;

	.instructions-loading {
		position: relative;
		img {
			display: block;
			margin: auto;
			padding-top: 50px;
		}
	}

	.selected-func-name {
		font-size: 1.2em;
		@include wrap-text;
	}

	.instructions, .jump-arrows {
		margin-top: 15px;
	}

	.jump-arrows {
		position: relative;
		float: left;
		width: 10%;

		g path {
			fill: none;
			stroke-width: 3px;
		}
	}

	.instructions {
		position: relative;
		float: left;
		width: 90%;
		.instruction.row {
			display: block;

			.mnemonic span.hljs-keyword {
		    min-width: 30px;
		    display: inline-block;
			}

			/* flag reading/writing icons */
			.flag-read i.arrow,
			.flag-write i.arrow {
				font-weight: bold;
				font-size: 1.2em;
			}
			.flag-read i.flag,
			.flag-write i.flag {
				margin-left: -6px;
			}
			/* end flag */
		}
		.instruction.row:hover {
			background-color: rgba($instruc-color2, 0.3);
		}
		.instruction.row.instruc-selected {
			background-color: rgba($instruc-color1, 0.5);
		}
		.show-read {
			background-color: rgba($instruc-color-read, 0.4);
		}
		.show-write {
			background-color: rgba($instruc-color-write, 0.4);
		}
	}
}

.hljs {
	padding: 0 !important;
}

.comment, .comment span {
	color: #999 !important; 
}


/****************** Side panel ******************/
#side-panel {
	height: 96%;
}


/****************** Analysis ******************/

$file-selected-bg: rgba(100,255,218, 0.9);
$source-code-bg1: rgba(100,255,218, 0.9); // highlight relevant line
#function-analysis {
	height: 49vh;
	width: 100%;
	bottom: 0;

	border-top-style: outset;

	.nav {
		padding-bottom: 15px;

		div {
			display: inline;
		}
		.exit:hover,
		.tabs>span:hover {
			cursor: pointer;	
		}

		.exit {
			width: 0;
			font-size: 2em;
			padding-right: 15px;
		}
		.exit:hover {
			font-weight: bold;
		}

		.tabs {
			span {
				margin-left: 20px;
			}
			span:hover {
				border-bottom: solid;
				border-width: 4px;
				border-color: rgba($instruc-color1, 0.4);
			}
			span.active {
				border-bottom: solid;
				border-width: 4px;
				border-color: $instruc-color1;
			}
		}
	}

	.tab-content {
		height: calc(100% - 63px); // height of nav. hacky but works
	}

	.tab-content.tab-stack-info {
		// left side
		.stack-info {
			.stack-info-frame.file-selected {
				background-color: rgba($file-selected-bg, 0.8);
			}
			.stack-info-frame {
				padding-left: 15px;
				padding-right: 15px;
				@include wrap-text;

				.lineno {
					float: right;
				}

				.function-name {
					font-weight: bold;
				}
			}
		}

		// right side
		.source-code {
			font-size: 0.8em;
			height: 100%;
			overflow: scroll;
			.target {
				background-color: rgba($source-code-bg1, 0.9);
			}
		}
	}

	.tab-content.tab-mnemonic-desc {

	}

	.tab-content.tab-iaca {

		.buttons {
			.button {
				display: block;
			}
			.button.inactive {
				@include inactive-button;
			}
		}

		label {
			margin-top: 15px;
		}

		pre {
			height: 100%;
			overflow-y: scroll;
			font-size: 0.85em;
			margin-top: 0;
			margin-bottom: 0;
			white-space: pre-wrap;
		}
	}

}

#full_desc {
	height: 100%;
	width: 100%;
}

/****************** Jumptable panel ******************/
$jump-color1: rgb(255,245,157);
.jt-op_str-text {
	background-color: $jump-color1;
}
.jt-op_str-text:hover {
	cursor: pointer;
}

@media screen and (max-width: 1036px) {
	#jumptable-info {
		width: 150px !important;
	}
}


#jumptable-info {
	position: absolute;
	font-family: "Inconsolata", monospace;
	right: 10px;
	top: 30px;
	max-height: calc(90% - 40px);
	width: 250px;
	overflow-y: scroll;
	padding: 10px;
	padding-right: 20px;
	background: white;

	border: 1px solid;

	// in bounce.css
  -webkit-animation: jelly 1000ms linear both; 
  animation: jelly 1000ms linear both;

	.content {
		margin-left: 15px;
		margin-top: 1.7em;

		.jump, .jt-header {
			@include flexbox;
			justify-content: space-between;
		}

		.jt-header > span {
			text-decoration: underline;
		}

		.jump:hover {
			background-color: rgba($jump-color1, 0.3);
		}
	}

	.exit {
		position: absolute;
		width: 0;
		font-size: 1.7em;
		padding-right: 15px;
		margin-top: -7px;
	}
	.exit:hover {
		font-weight: bold;
		cursor: pointer;
	}
}

/****************** Context Menu ******************/
.context-menu-list {
	padding-right: 5px;
}

.context-menu-item.disabled {
	color: #BBB;
}

.context-menu-submenu:after {
	content: "▶";
}


/****************** Type Search *******************/
#selected-type {
	width: 50%;
	float:right;
}
.type {
	/*display: block;*/
	text-decoration: none;
	color: black;

	font-family: "Space Mono", monospace;
	cursor: pointer;	
	@include wrap-text;

	width: 50%;
}

$type-bg: rgb(178,223,219);
.type:hover {
	background-color: rgba($type-bg, 0.6);
}
.type:active {
	background-color: rgba($type-bg, 0.6);
}

.type.selected {
	background-color: rgba($type-bg, 1);
}

#data-types a:nth-child(3) {
	margin-top: 60px;
}

#data-types a:last-child {
	padding-bottom: 15px;
}

.type-attr {
	display: block;
}

.type-wrapper {
	display: block;
	margin-bottom: 15px;
}

.type-member-attribute {
	display: block;
}

.name {
	font-family: "Space Mono", monospace;
	color: #6699ff;
}