/******* used in assembly and in functions pages *******/

$body-left: 50px;

main {
  padding-left: $body-left;
  padding-right: $body-left;
}

// override highlight.js
.hljs {
	padding: 0 !important; 
	margin: 0 !important; 
}


.button, select {
	height: 30px;
	line-height: 30px;
}