html, body {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4em;

	width: 100%;
	text-align: center;
}

#file-uploader {
	text-align: center;
	margin-top: 70px;

	input[type="submit"]:disabled {
		opacity: 0.8;
	}

	input[type="submit"]:disabled:hover {
		border-color: #bbb; // original border color
	}
}

