html, body {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4em;

	width: 100%;
	text-align: center;
}

#file-uploader {
	text-align: center;
	margin-top: 70px;

	input[type="submit"]:disabled {
		opacity: 0.8;
	}

	input[type="submit"]:disabled:hover {
		border-color: #bbb; // original border color
	}
}

#uploaded-files {
	width: 40vw;
	min-width: 500px;

	margin: 0 auto;
	padding-top: 50px;
	.title {
		font-weight: bold;
	}

	.file, .title {
		display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	  display: -ms-flexbox;  /* TWEENER - IE 10 */
	  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	}

	.file > div, .title > div {
		-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
	  width: 20%;            /* For old syntax, otherwise collapses. */
	  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
	  -ms-flex: 1;           /* IE 10 */
	  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */
	}
}

#errors {
	background-color: rgb(179, 0, 0);
	/* http://howtocenterincss.com/ */
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75px;
}

#errors > .error {
	display: block;
}