html, body {
	padding: 0;
	margin: 0;
}

h1 {
	font-size: 4em;

	width: 100%;
	text-align: center;
}

@mixin flexbox {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@mixin flex-1 {
	-webkit-box-flex: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  width: 20%;            /* For old syntax, otherwise collapses. */
  -webkit-flex: 1;       /* Safari 6.1+. iOS 7.1+, BB10 */
  -ms-flex: 1;           /* IE 10 */
  flex: 1;               /* NEW, Spec - Firefox, Chrome, Opera */

}

#file-uploader {
	text-align: center;
	margin-top: 70px;

	input[type="submit"]:disabled {
		opacity: 0.8;
	}

	input[type="submit"]:disabled:hover {
		border-color: #bbb; // original border color
	}
}

#uploaded-files, #command-line-files {
	width: 40vw;
	min-width: 500px;

	margin: 0 auto;
	padding-top: 50px;
	.title {
		font-weight: bold;
	}

	.file, .title {
		@include flexbox;
	}

	.file > div, .title > div {
		@include flex-1;
	}
	.file .filename {
		color: rgb(0,188,212);
	}
	.file .filename:hover {
		color: #1EAEDB;
	}

	$remove-file-fa-offset: 20px;
	i.remove-file {
		line-height: inherit;
    width: 0;
    margin-right: $remove-file-fa-offset;
    margin-left: -$remove-file-fa-offset;
    color: lightgray;
	}

	i.remove-file:hover {
		color: rgb(229,57,53);
		cursor: pointer;
	}	
}

#errors {
	background-color: rgb(179, 0, 0);
	/* http://howtocenterincss.com/ */
	@include flexbox;
	justify-content: center;
	align-items: center;
	height: 75px;

	color: white;
}

#errors > .error {
	display: block;
}

/***** loading display *****/
.overlay {
	display: none;
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;

	background-color: white;
	opacity: 0.7;
}

.pacman {
	display: none;
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;

	text-align: center;
	span {
	  font-family: "Open Sans", sans-serif;
    font-size: 40px;
    display: block;
    margin-top: 15%;
    margin-bottom: 50px;		
	}
}
