<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/colorbox.css">
  {% assets "functions_css" %} <link rel="stylesheet" href="{{ ASSET_URL }}"> {% endassets %}
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <script src="https://use.fontawesome.com/d826d0fa82.js"></script>
  <title>Disassembler</title>
</head>

<body>
  <main>
  <div class="row">
    <div id="functions-wrapper">
      <h2 class='header'> 
        <div class='title'>filename:</div>
        <div class='filename'>{{ displayname }}</div>
      </h2>

      {% include 'function_search.partial.html' %}
      
    </div> {# end of functions column #}
  </div> 
  </main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% assets "js_global" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}
{% assets "js_functions" %} <script src="{{ ASSET_URL }}"></script> {% endassets %}

</body>

</html>