<div class="row input">
  <input type="text" placeholder="Search for data type" id="type-name-input" class='ten columns'> 
  <div class='bottom-border ten columns'></div>
</div>

<div id="selected-type" rv-hide="type_ctrl.showTypeSearchResults">
  <div class="type-attr">Name: 
    <span rv-text="type_ctrl.selected_type.name"></span>
  </div>
  <div class="type-attr">Size: 
    <span rv-text="type_ctrl.selected_type.size"></span>
  </div>
  <div class="type-attr">Subtype: 
    <span class="type" 
    rv-text="type_ctrl.selected_type.subtype"
    rv-on-click="type_ctrl.selectedTypeClicked"></span>
  </div>
  <div class="type-attr">Tag: <span rv-text="type_ctrl.selected_type.tag"></span></div>
  <div class="members type-attr"
    rv-show="type_ctrl.selected_type.members | arrHasContent">Members:
    <span class='change-all collapse-all'>collapse all</span>
    <span class='change-all expand-all'>expand all</span>
    <ul>
      <li class="member"
        rv-each-member="type_ctrl.selected_type.members"
        rv-show="member.expanded">
        <span class="indent" rv-text="member.depth | formatIndentation"></span>
        
        <span class='expand' rv-show="member.expandable">
          <i class="fa fa-plus-square-o" aria-hidden="true"
            rv-on-click="type_ctrl.expandMember"></i>
        </span>
        <span class='collapse' rv-show="member.collapsable">
          <i class="fa fa-minus-square-o" aria-hidden="true"
            rv-on-click="type_ctrl.collapseMember"></i>
        </span>
        <span rv-show="member | endOfLine" style="opacity:0;">
          <i class="fa fa-square-o" aria-hidden="true"></i>
        </span>

        <!-- Offset -->
        <span class="offset"
        rv-show="member.offset | displayData">&lt;{member.offset}&gt;</span>
        <span class="offset-unknown"
        rv-hide="member.offset | displayData">&lt;?&gt;</span>
        <!-- Member name -->
        <span class="name"
        rv-show="member.name | displayData"
        rv-text="member.name"></span>
        <span class="type-name-unknwon"
        rv-hide="member.name | displayData">(name unknown)</span>
         : 
        <!-- Type name -->
        <span class="type"
        rv-show="member.type | displayData"
        rv-on-click="type_ctrl.memberTypeClicked" 
        rv-text="member.type"></span>
        <span class="type-unknown"
        rv-hide="member.type | displayData">(type unknown)</span>
        <span class="type-modifiers"
        rv-show="member.modifiers"
        rv-text="member.modifiers">
      </li>
    </ul>
  </div> <!-- end members -->

  <div class="vtable type-attr" 
    rv-show="type_ctrl.selected_type.vtable | arrHasContent">
    Vtable:
    <div class='vtable-header row'>
      <span class="vtable-index one column">Slot</span>
      <span class="vtable-function eight columns">Function</span>
    </div>
    <div class='vtable-entry entry row'
      rv-each-vtableentry='type_ctrl.selected_type.vtable'>
      <span class='vtable-index one column'>{vtableentry.index}</span>
      <span class='vtable-function eight columns'>{vtableentry.name}</span>
    </div>
  </div>
</div>

{# all types #}
<div id='data-types' class="ten columns" data-filename="{{ filename }}" rv-show="type_ctrl.showTypeSearchResults">
</div>